# Ignore everything
*

# Un-ignore specific files or directories
!.gitignore
!segment-anything-2/
!cut_and_label_for_dataset.py
!cut_and_label_for_dataset2.py
!cut_and_label_for_dataset3.py
!Requirements/**